.body{
    height: 100vh;
}

.h1{
    height: 15vh;
    display:inline-block;
}

.cart-chev{
    display: inline-block;
}

.floater{
    float: right;
}


.input-style{
    width: 49%;
    display: inline-block;
}
.logo{
    max-height: 6vmax;
    cursor: pointer;
}

.qty-display{
    display: inline-block;
     }

.checkout-container{
    width:100%;
    font-family: 'Ovo', Georgia, serif;
}

.order-summary-checkout{
    height:100vh;
    background-color: rgba(239, 240, 241, .5);
}
@media only screen and (max-width:940px){
    .details-text {
        font-size:1.3rem;
    }
}

.product-quantity-input {
    display: block;
    background: #FFF;
    text-align: center;
    width: 100%;
    padding: 5px 25px;
    margin: 0;
    border: none;
    height: 40px;
    font-size: 1.125em;
}

.product-quantity{
    display: inline-block;
}

.product-quantity label{
    font-size: 1.125em;
    font-weight: 500;
    line-height: 40px;
    float: left;
}

.product-quantity-controls{
    position: relative;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0px;
    max-width: 100px;
    min-width: 75px;
    overflow: visible;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    display: inline-block;
    vertical-align: middle;
    max-width: none;
    width: 110px;
    float: left;
}

 .decrement {
    left: 0;
}

 .product-quantity-control-button {
    cursor: pointer;
    position: absolute;
    display: block;
    top: 1px;
    border: 0 none;
    background: none;
    text-align: center;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    color: #acacac;
    font-size: 2em;
    padding-bottom: 0.5em;
    padding-left: 0;
    padding-right: 0;
    width: 1.5em;
}



.product-quantity-controls .increment {
    right: 0;
}

.details-price{
    font-size: 1.5rem;

}

@media only screen and (max-width:940px){
    .details-price {
        font-size:1rem;
    }
}

@media(max-width:544px){
    .cart-icon{
        font-size:20px;
    }
}

@media only screen and (max-width:940px){ /* Tablets*/
    .header-responsive{
        font-size:20px;
    }
}

label,input{
    display: block;
}

label{
    font-size: 2rem;
}




.summary-items{
    font-size: 20px;
    padding: 0.5rem;
}

.img-last {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:30rem;
}

.conf-bold{
    font-weight:bold;
}

.info-conf{
    display: inline-block;
    vertical-align: top;
}

input,textarea{
    width: 25rem;
}

.conf-size{
    font-size:2vh;
}

.checkout-nums{
    display:inline-block;
    float:right;
}

.order-form,.order-summary{
    display: inline-block;
    vertical-align: top;
}

.btn-conf{
    text-align: center;
}

.order-conf{
    color:grey;
    font-family: 'Ovo', Georgia, serif;
}



h1{
    display: inline-block;
}

.btn-back-details{
    display: block;
    color: grey;
    text-align: left;
    margin-bottom: 1rem;
    border: 1px solid lavenderblush;
    display: inline-block;
}

.ship-conf{
    display:inline-block;
}

.payment-conf{
    display:inline-block;
    float:right;
}

h2{
    display: inline-block;
    /*float:right;*/
    /*margin-top: 2.5rem;*/
    /*margin-right: 1rem;*/
}

.shopping-bag{
    position:absolute;
    right: 0px;
    top: 5.5%;
}

@media screen and (max-width: 800px) {
    .shopping-bag {
        top: 4.95%;
    }
}

@media screen and (max-width: 600px) {
    .shopping-bag {
        top:6.3%;
    }
}

.details-img{
    object-position: top;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

img{
   height: 15rem;
}
.cart-header{
    font-size: 3rem;
    font-family: "Apple Chancery";
}
.card{
    height: 27rem;
}

.img-container{
    position: relative;
    cursor: pointer;
}


.quick-shop{
    display: none;
    color: #222;
    width: 100%;
    font: 1.2rem/1 'Ovo', Georgia, serif;
    letter-spacing: .09rem;
    text-transform: none;
    text-align: center;
    position:absolute;
    bottom:0;
    left:0;
    background-color: rgba(239, 240, 241, .5);
    height: 3rem;
    line-height: 3rem;


}

img:hover + .quick-shop, .quick-shop:hover{
    display: inline-block;
}
.center-text{
    display: inline-block;
    margin:0 auto;
    width:100px;
    line-height: 120px;
    font-family: 'Ovo', Georgia, serif;
    color:#444444;
    font-size: 1.5vmax;
}



.header {
    overflow: hidden;
    padding: 20px 10px;
    font-family: 'Ovo', Georgia, serif;
    color: #E294AB;

}

.bag-font{
    font-size: 22px;
}

.shop-font{
    text-transform: uppercase;
}

/* Style the header links */
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;

}

.big-bag{
    font-size: 40vh;
    display:block;
    color: rgba(226, 148, 171, 0.3)
}

.border-style{
    border-top: 1px lightgrey solid;
    border-bottom: 1px lightgrey solid;
}

.empty-style{
    font-size: 4vh;
    color: grey;
}

.right-cart{
    float: right
}

.subtotal-cart{
    font-family: 'Ovo', Georgia, serif;
    font-size: 2vh;
    color: grey
}

.summary-img{
    height: 8rem;
}

label{
    font-size: 1.4rem;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
    font-size: 25px;
    font-weight: bold;

}

.pink{
    color: #E294AB;
    font-size: 1.3rem;
}

.checkout-logo{
    font-size: 25px;
    font-weight: bold;
    color: #E294AB;
}

/* Change the background color on mouse-over */
.header a:hover {
    background-color: #fff7fd;
    color: black;
}

/* Style the active/current link*/
.header a.active {
    background-color: #f8dbe0;;
    color: white;
}

/* Float the link section to the right */
.header-right {
    float: right;
    cursor: pointer;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
    .header a {
        float: none;

    }
    .header-right {
        float: right;
    }
}

.modal-img{
    width:50%;
    height: 55vh;
    display: inline-block;
}

.modal-details{
    display: inline-block;
    vertical-align:top;
    font-size: 3vh;
    color: #444444;
}

.custom-modal {
    justify-content: center;
    align-items: center;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    background-color: rgba(239, 240, 241, .65);
}

.custom-modal-dialog {
    height: 60%;
    width: 60%;
    background-color: white;
    position: relative;
    border-radius: 6px;
    overflow: scroll;
}

.modal-fade {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animate-top {
    -webkit-animation-name: animate-top;
    animation-name: animate-top;
}

.close-icon {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 10px;
    cursor: pointer;
}

.card-body{
    text-align: center;
}

.conf-style{
    border-bottom: 1px solid lightgrey;
}

.gem-icon{
    font-size: 15px;
}

.hidden-btn{
    display:none;
}

.invalid-form{
    color:red;
}

.card-container{
    /*width: 33.33%;*/
    padding: 2rem;
    margin-bottom:2rem;
    font-family: 'Ovo', Georgia, serif;
}

.btn-cart{
    background-color:#EEB4C7;
    color: white;
    width: 10rem;
    height: 3rem;
    font-size: 1.2rem;
    display: inline-block;
    font-family: 'Ovo', Georgia, serif;
}

.cart-img-height{
    height: 12rem;
    width: 13rem;
}

.cart-summary-item{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    padding: 1rem;
    color: grey;
    font-family: 'Ovo', Georgia, serif;
}

.text-style{
    font-family: 'Ovo', Georgia, serif;
    color:grey;
    display: inline-block;

}

.cart-details-container{
    width: 40%;
    display: flex;
    align-items: center;
}








.icons{
    display: inline-block;
}

.qty-label{
    display: inline-flex;
}

.qty-font{
    font-size: 1.5rem;
}

@media screen and (max-width: 600px) {
    .main-title {
        font-size: 30px;
    }
}



.product-thumbnail-quantity {
    font-size: 0.85714em;
    font-weight: 500;

    border-radius: 1.75em;
    background-color: rgba(114,114,114,0.9);
    color: #fff;
    -webkit-box-sizing: border-box;

    min-width: 1.75em;
    height: 1.75em;
    padding: 0 0.58333em;
    position: absolute;

    top: -0.75em;

    left: 5rem;
}



.product-thumbnail-wrapper {
    display: inline-block;
    position:relative;
}
.main-title{
    font-family: "Apple Chancery";
    margin-top:1rem;
    display: inline-block;
}

.point{
    cursor: pointer;
}

.code-input{
    display: inline-block;
    width: 60%;
}

.btn-code{
    background-color: lightgrey;
    color: white;
    font-size: 1rem;
    display: inline-block;
    height:2.3rem;
}


.card-img-top{
    height:438px;
}


.pink-stripe{
    height: 4vh;
    display: block;
    background-color: #f8dbe0;
    color: grey;
    text-align:center;
    line-height: 4vh;
    font-family: "Times New Roman";
    font-size:1.3vw;

}



@media screen and (max-width: 600px) {
    .pink-stripe {
        font-size: 2.4vw;
    }
}

@media screen and (max-width: 800px) {
    .pink-stripe {
        font-size: 2.4vw;
    }
}

.full-cart-summary{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.cart-summary-item:first-child {
    border-top: 1px solid lightgrey;
}

.total-checkout{
    border-top: 1px solid lightgrey;
}

.cart-small-img{
    width: 100%;
    height: auto;
}

@media screen and (max-width: 425px){
    .cart-summary-item {
    font-size: .9rem;
}
}

@media screen and (max-width: 625px){
    .cart-summary-item {
        padding: 1rem .25rem;
    }

}


@media screen and (max-width: 625px){
    .cart-details-container {
        display: block
    }
}

@media screen and (max-width: 425px){
    .cart-details-container {
        width: 30%;
    }
}


@media screen and (max-width: 625px){
    .full-cart-summary {
        padding: 0 1rem;
    }
}


.cart-item-image{
    max-width: 100px;
    margin-right: 1rem;
}

.cart-item-remove{
    font-size: .9rem;
    text-decoration: underline;
    cursor: pointer;
    margin: 1rem 0;
    color: #E294AB;
}

.cart-empty{
    text-align:center;
    font-family: 'Ovo', Georgia, serif;
}

.cart-item-price{
    text-align: right;
    width: 20%;
}

.cart-item-quantity {
    width: 30%;
    text-align: center;
}

.cart-item-total {
    text-align: right;
    width: 10%;
}



.details{
    display: inline-block;
    vertical-align: top;
}

.details-container{
    margin: auto;
    width: 75%;
}


.shopping-cart {
    width: 700px;
    height: 275px;
    margin: 5px auto;
    background: #FFFFFF;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
}

.title {
    height: 60px;
    border-bottom: 1px solid #E1E8EE;
    padding: 20px 30px;
    color: #5E6977;
    font-size: 18px;
    font-weight: 400;
}

.item {
    padding: 20px 30px;
    height: 120px;
    display: flex;
}

.item:nth-child(3) {
    border-top:  1px solid #E1E8EE;
    border-bottom:  1px solid #E1E8EE;
}

.image {
    margin-right: 50px;
}

.description {
    padding-top: 10px;
    margin-right: 60px;
    width: 115px;
}

.description span {
    display: block;
    font-size: 20px;
    font-weight: 400;
    color: black;
}

.description span:first-child {
    margin-bottom: 5px;
}
.description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: black;
}


.quantity {
    padding-top: 20px;
    margin-right: 60px;
}
.quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}

.hero-image{
    width: 100%;
    height: auto;
}

.product-details-style{
    font-family: 'Ovo', Georgia, serif;
    color: #444444;
}

.best-sellers{
    text-align: center;
    font-size: 3vh;
    font-family: 'Ovo', Georgia, serif;
    color: #444444;
}

button:focus,
input:focus {
    outline:0;
}

.total-price {
    width: 83px;
    padding-top: 27px;
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}


@media (max-width: 800px) {
    .shopping-cart {
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    .item {
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
    .image img {
        width: 50%;
    }
    .image,
    .quantity,
    .description {
        width: 100%;
        text-align: center;
        margin: 6px 0;
    }
    .buttons {
        margin-right: 20px;
    }
}



