
.body{
    height: 100vh;
}

.h1{
    height: 15vh;
    display:inline-block;
}

h1{
    display: inline-block;
}

h2{
    display: inline-block;
    float:right;
}

img{
   height: 15rem;
}
.cart-header{
    font-size: 3rem;
}
.card{
    height: 27rem;
}

.card-container{
    width: 33.33%;
    padding: 1rem;
}

.cart-img-height{
    height: 12rem;
    width: 13rem;
}


.cart-details{
    display: inline-block;
}

.cart-img{
    display: inline-block;
}

.cart-item{
    border: 1px solid black;
}

.details{
    display: inline-block;
}

.details-container{
    margin: auto;
    width: 75%;
}




